.contacts-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 6rem;
}

.maps {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.maps iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.maps-container,
.contacts-textbox {
  /* padding: 8rem; */
}

.contacts-textbox {
  justify-self: center;
  align-self: center;
}

.address {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}

.address a {
  text-decoration: none;
  color: #515151;
}

.contacts-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacts-heading {
  color: #45260a;
  margin-bottom: 3.2rem;
  font-size: 3.6rem;
}

/* Media */
/* 992px */
@media (max-width: 62em) {
  .contacts-section {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .contacts-textbox {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .contacts-heading {
    font-size: 3.2rem;
  }
}
/* 740px */
@media (max-width: 47em) {
  .maps-container,
  .contacts-textbox {
    z-index: -1;
  }
}
