.contacts-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.maps {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.maps iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.maps-container,
.contacts-textbox {
  padding: 8rem;
}

.contacts-textbox {
  justify-self: center;
  align-self: center;
}

.address {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}

.address a {
  text-decoration: none;
  color: #515151;
}

.contacts-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacts-heading {
  color: #45260a;
  margin-bottom: 3.2rem;
  font-size: 3.6rem;
}

/* Add your preloader styles here */
#preloader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 9999;
}

/* Add your preloader animation styles here */
.preloader-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
