/**********************/
/* Footer Section */
/**********************/
.main-nav-link:link,
.main-nav-link:visited {
  color: #e9ecef !important;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c6d8de !important;
}

.footer-logo:link,
.footer-logo:visited {
  color: #555 !important;
}

/**********************/
/* Hero Section */
/**********************/

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/sodyba-oaze/images/hero.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
}

/**********************/
/* Hero Section Text */
/**********************/

.hero-textbox {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  align-items: center;
}

.hero-header {
  color: #e9ecef;
  font-size: 5.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
}

.hero-text {
  color: #e9ecef;
  padding: 0 24rem;
  font-size: 1.6rem;
}

/**********************/
/* Intro Section */
/**********************/

.section-intro {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.intro {
  display: grid;
  gap: 5rem;
}

.intro-grid-1-2 {
  grid-template-columns: 1fr 2fr;
}

.intro-grid-2-1 {
  grid-template-columns: 2fr 1fr;
}

.intro-text-box {
  padding: 8rem 0rem;
}

.heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
  font-size: 3.6rem;
}

.intro-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.intro-image-box {
  background-size: cover;
  background-position: center;
}

.first-image {
  background-image: url("../images/intro.webp");
}

.second-image {
  background-image: url("../images/wakeboard.webp");
}

.third-image {
  background-image: url("../images/fireplace.webp");
}

/**********************/
/* Media*/
/**********************/
/* 1200x */
@media (max-width: 75em) {
  .intro-grid-1-2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .intro {
    display: grid;
    gap: 0;
  }

  .first-image,
  .third-image {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .intro-text-box {
    padding: 4rem 0;
  }

  .section-padding {
    margin-top: 0;
  }

  .intro-grid-2-1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .section-intro {
    gap: 0;
  }

  .icon-mobile-nav {
    color: #fff;
  }
}

@media (max-width: 47em) {
  .hero-section {
    grid-template-rows: 1fr 6fr;
  }

  .hero-textbox {
    align-self: center;
  }

  .hero-header {
    font-size: 4rem;
  }

  .hero-text {
    padding: 0 12rem;
  }

  .main-nav-link.mobile-nav {
    color: #555 !important;
  }
}

/* 500px */
@media (max-width: 31.25em) {
  .section-padding {
    margin: 2rem 4rem;
  }
}
